@model IEnumerable<Kirtland_Artist_Guild.Models.Exhibition>

@{
    ViewData["Title"] = "Exhibitions";
}

<p>
    <a asp-action="Create" class="btn btn-secondary">Create New</a>
</p>
<table class="table table-dark table-striped table-hover table-responsive-md table-bordered table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @if (item.Description != null)
                {
                   @Html.Raw(item.Description.Replace(Environment.NewLine, "<br/>"))     
                }                    
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-secondary btn-sm mb-1">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-secondary btn-sm mb-1">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm mb-1">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>