@model Kirtland_Artist_Guild.Models.ArtMediumLink

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ArtMediumLink</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Art)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Art.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtMedium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtMedium.Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
