@model IEnumerable<Kirtland_Artist_Guild.Models.ArtistImage>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create" class="btn btn-secondary">Add New Photo</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                Image
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.firstName) @Html.DisplayFor(modelItem => item.User.lastName)
                </td>
                <td class="w-50">
                    <img src="@(@item.Source + @item.FileName)" class="img-fluid border border-1 border-warning">
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm mb-1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
