@model UserViewModel
@{
    ViewData["Title"] = "Manage Users";
}

<h1 class="mb-2">Manage Users</h1>

<h5 class="mt-2"><a asp-action="Add" class="btn btn-secondary">Add a User</a></h5>

<table class="table table-bordered table-striped table-sm table-dark">
    <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Roles</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Users.Count() == 0)
        {
            <tr><td colspan="5">There are no user accounts.</td></tr>
        }
        else
        {
            @foreach (User user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.firstName</td>
                    <td>@user.lastName</td>
                    <td>
                        @foreach (string roleName in user.RoleNames)
                        {
                            <div>@roleName</div>
                        }
                    </td>
                    <td>
                        @if (user.RoleNames.Contains("Artist"))
                        {
                            <form method="post" asp-action="RemoveFromArtist" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-secondary">
                                    Remove From Artist
                                </button>
                            </form>
                        }
                        else
                        {                            
                            <form method="post" asp-action="AddToArtist" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-secondary mb-2">
                                    Add To Artist
                                </button>                              
                            </form>
                        }
                    </td>
                    <td>
                        @if (user.RoleNames.Contains("Admin"))
                        {
                            <form method="post" asp-action="RemoveFromAdmin" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-secondary">
                                    Remove From Admin
                                </button>
                            </form>
                        }
                        else
                        {
                            <form method="post" asp-action="AddToAdmin" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-secondary mb-2">
                                    Add To Admin
                                </button>
                            </form>
                        }
                    </td>
                    <td>
                        <form method="post" asp-action="Delete" asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-danger">
                                Delete User
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h1 class="mb-2">Manage Roles</h1>

<h5 class="mt-2"><a asp-action="AddRole" class="btn btn-secondary">Add a Role</a></h5>

@if (Model.Roles.Count() == 0)
{
    <form method="post" asp-action="CreateAdminRole">
        <button type="submit" class="btn btn-primary">
            Create Admin Role
        </button>
    </form>
}
else
{
    <table class="table table-bordered table-striped table-sm table-dark">
        <thead>
            <tr><th>Role</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <form method="post" asp-action="DeleteRole" asp-route-id="@role.Id">
                            <button type="submit" class="btn btn-danger">
                                Delete Role
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}