@model Kirtland_Artist_Guild.Models.ArtViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container py-2 ">
    <div class="row" data-masonry='{"percentPosition": true }'>
        <div class="col-sm-8 col-md-8 py-3">
            <div class="card bg-transparent">
                <div class="card-body">
                    <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @for (var i = 0; i < Model.ArtImages.Count; i++)
                            {
                                @if (i == 0)
                                {
                                    <div class="carousel-item active">
                                        <img class="d-block w-100 img-fluid border border-warning" src="@(Model.ArtImages[i].Source + Model.ArtImages[i].FileName)" alt="Image" onContextMenu="return false;">
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <img class="d-block w-100 img-fluid border border-warning" src="@(Model.ArtImages[i].Source + Model.ArtImages[i].FileName)" alt="Image" onContextMenu="return false;">
                                    </div>
                                }
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 py-3">
            <div class="card bg-transparent">
                <div class="card-body">
                    @if (Model.Art.Name != null)
                    {
                        <h3 class="card-title">@Html.DisplayFor(model => model.Art.Name)</h3>
                    }
                    
                    @if (Model.Artist.firstName != null && Model.Artist.lastName != null)
                    {
                        <a class="btn btn-sm btn-outline-warning mb-1" asp-area="" asp-controller="Home" asp-action="Artist" asp-route-id="@Model.Artist.UserName">@Model.Artist.firstName @Model.Artist.lastName</a>
                    }                   

                    @if (Model.Art.ArtMediumLinks != null)
                    {
                        <p>
                            @foreach (var medium in Model.Art.ArtMediumLinks)
                            {
                                @if (medium.ArtMedium != null)
                                {
                                    <div>@medium.ArtMedium.Name</div>
                                }
                            }
                        </p>
                    }

                    @if (Model.Art.Available)
                    {
                        <p>&#36 @Html.DisplayFor(model => model.Art.Price)</p>
                    }
                    else
                    {
                        <p>SOLD</p>
                    }

                    @if (Model.Art.Description != null)
                    {
                        <p>
                            <b>@Html.DisplayNameFor(model => model.Art.Description)</b>:
                            <br />@Html.Raw(Model.Art.Description.Replace(Environment.NewLine, "<br/>"))
                        </p>
                    }

                    @if (Model.Artist.website != null)
                    {
                        <a href="@Model.Artist.website" target="_blank" class="btn btn-secondary m-1"><i class="fa fa-external-link fa-2x" style="vertical-align: middle"></i> @Model.Artist.website</a>
                    }
                    @if (Model.Artist.Email != null)
                    {
                        <a href="mailto:@Model.Artist.Email" target="_blank" class="btn btn-secondary m-1"><i class="fa fa-envelope fa-2x" style="vertical-align: middle"></i> @Model.Artist.Email</a>
                    }
                    @if (Model.Artist.paypal != null)
                    {
                        <a href="@Model.Artist.paypal" target="_blank=" class="btn btn-secondary m-1"><i class="fa fa-cc-paypal fa-2x" style="vertical-align: middle"></i> @Model.Artist.paypal</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>