@model ArtistViewModel
@{
    ViewData["Title"] = "Artist";
}
@section styles {
    <link rel="stylesheet" href="~/css/Artistic_Style.css">
}

<h1 class="KAG_title text-warning">@Model.User.firstName @Model.User.lastName</h1>
<h4 class="text-center">@Model.User.artistMedium</h4>

<div class="container py-2 mt-5">
    <div class="row ms-auto">
        <div class="col-sm-5">
            <div class="card bg-transparent">
                <div class="card-body">
                    @foreach (var artistImage in Model.ArtistImages)
                    {
                        <img class="d-block w-100" src="@(@artistImage.Source + @artistImage.FileName)" alt="Profile" onContextMenu="return false;">
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="card bg-transparent">
                <div class="card-body">
                    <p>
                        @if (Model.User.bio != null)
                            {
                                @Html.Raw(Model.User.bio.Replace(Environment.NewLine, "<br/>"))
                            }
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card-body">
                @*UserID - Photo1*@
                @* HERE WE WILL CHECK IF THERE IS THE OPTIONAL PHOTO FOR DISPLAYING THE PERSON IN FRONT OF THE ART, AND IF NOT SHOW NOTHING,
                @if (Model.User. != null)
                {
                <img src="/media/duck.jpg" alt="Image" class="img-fluid border border-warning">
                *@
            </div>
        </div> 
        <div class="col-sm-5">
            <div class="card-body"> 
                @*UserID - Photo1*@
                @* HERE WE WILL CHECK IF THERE IS THE SECOND OPTIONAL PHOTO FOR DISPLAYING THE PERSON IN FRONT OF THE ART, AND IF NOT SHOW NOTHING,
                @if (Model.User. != null)
                {
                <img src="/media/duck.jpg" alt="Image" class="img-fluid border border-warning">
                *@
            </div>
        </div>
    </div>
</div>

<h2 class="text-center mt-3">@Model.User.quote</h2>

<div class="container">
    <div class="row masonry-grid">
        @foreach (var art in Model.Arts)
        {
            var picture = new ArtImage { ArtID = art.ID, FileName = "sample.jpg", ID = 0, Source = "/media/" };

            @foreach (var image in Model.ArtImages)
            {
                @if (image.ArtID == art.ID)
                {
                    picture = image;
                }
            }
            <div class="col-md-4 col-lg-3 masonry-item mt-4">
                <a asp-controller="Home" asp-action="Art" asp-route-id="@art.ID">
                    <div class="image-container">
                        <img src="@(@picture.Source + @picture.FileName)" alt="@art.Name" class="img-fluid border border-1 border-warning" onContextMenu="return false;">
                        <div class="image-info">
                            @art.User.firstName @art.User.lastName<br>
                            @art.Name 
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script>
        var masonryGrid = document.querySelector('.masonry-grid');
        var masonry = new Masonry(masonryGrid, {
            itemSelector: '.masonry-item',
            columnWidth: '.col-md-4',
            percentPosition: true
        });
    </script>
}