@model ArtistViewModel
@{
    ViewData["Title"] = "Artist";
}
@section styles {
    <link rel="stylesheet" href="~/css/Artistic_Style.css">
}
<div style="background-color: @Model.User.backgroundColor; color: @Model.User.fontColor">
    <h1 class="KAG_title">@Model.User.firstName @Model.User.lastName</h1>
    <h4 class="text-center">@Model.User.artistMedium</h4>

    <div class="container py-2 mt-5">
        <div class="row">
            <div class="col-sm-4">
                <div class="card bg-transparent">
                    <div class="card-body">
                    @if (Model.ArtistImages.Count > 0)
                    {
                        <img class="d-block w-100" src="@(@Model.ArtistImages[0].Source + @Model.ArtistImages[0].FileName)" alt="Profile" onContextMenu="return false;">
                    }
                    else
                    {
                        var defaultProfile = "/media/" + ViewData["defaultProfile"];
                        <img class="d-block w-100" src="@defaultProfile" alt="Default Profile Image" onContextMenu="return false;">
                    }
                    </div>
                </div>
                <h2 class="text-center mt-3">@Model.User.quote</h2>
            </div>
            <div class="col-sm-8">
                @if (Model.User.Email != null || Model.User.website != null || Model.User.paypal != null)
                {
                    <div class="row">
                        <div class="col-sm-12">                    
                            <div class="card bg-transparent">
                                <div class="card-body">
                                    @if (Model.User.website != null)
                                    {
                                        <a href="@Model.User.website" target="_blank" class="btn btn-secondary m-1"><i class="fa fa-external-link fa-2x" style="vertical-align: middle"></i> @Model.User.website</a>
                                    }
                                    @if (Model.User.Email != null)
                                    {
                                        <a href="mailto:@Model.User.Email" target="_blank" class="btn btn-secondary m-1"><i class="fa fa-envelope fa-2x" style="vertical-align: middle"></i> @Model.User.Email</a>
                                    }
                                    @if (Model.User.paypal != null)
                                    {
                                        <a href="@Model.User.paypal" target="_blank=" class="btn btn-secondary m-1"><i class="fa fa-cc-paypal fa-2x" style="vertical-align: middle"></i> @Model.User.paypal</a>
                                    }                                    
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card bg-transparent">
                            <div class="card-body">
                                <p>
                                    @if (Model.User.bio != null)
                                    {
                                        @Html.Raw(Model.User.bio.Replace(Environment.NewLine, "<br/>"))
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @if (Model.ArtistImages.Count == 2)
                        {
                            <div class="card bg-transparent h-100">
                                <div class="card-body h-100">
                                        <img class="d-block mx-auto img-fluid" style="max-height: 300px; max-width: 400px; object-fit: contain;" src="@Model.ArtistImages[1].Source@Model.ArtistImages[1].FileName" alt="Profile" onContextMenu="return false;">
                                </div>
                            </div>
                        }
                        @if (Model.ArtistImages.Count > 2)
                        {
                        <div class="card bg-transparent h-100">
                            <div class="card-body h-100">
                                <div id="artistCarousel" class="carousel slide h-100" data-bs-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-bs-target="#artistCarousel" data-bs-slide-to="0" class="active"></li>
                                        @for (int i = 1; i < (Model.ArtistImages.Count - 1); i++)
                                        {
                                            <li data-bs-target="#artistCarousel" data-bs-slide-to="@i"></li>
                                        }
                                    </ol>
                                    <!-- Slides -->
                                    <div class="carousel-inner h-100">

                                        <!-- First image -->
                                        <div class="carousel-item active h-100">
                                            <img class="d-block mx-auto img-fluid" style="max-height: 300px; max-width: 400px; object-fit: contain;" src="@Model.ArtistImages[1].Source@Model.ArtistImages[1].FileName" alt="First slide">
                                        </div>
                                        <!-- Subsequent images -->
                                        @foreach (var image in Model.ArtistImages.Skip(2))

                                        {
                                            <div class="carousel-item h-100">
                                                <img class="d-block mx-auto img-fluid" style="max-height: 300px; max-width: 400px; object-fit: contain;" src="@image.Source@image.FileName" alt="Slide">
                                            </div>
                                        }                                
                                        <!-- Controls -->
                                        <a class="carousel-control-prev" href="#artistCarousel" role="button" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#artistCarousel" role="button" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


    @if (Model.Arts.Count != 0)
    {   
        <div class="container">
            <div class="text-center">
                <h2>Artist Gallery</h2>
            </div>
            <div class="row masonry-grid border-top border-warning" id="main">
                @foreach (var art in Model.Arts)

        {
            if (art.User != null)
            {
                var picture = new ArtImage { ArtID = art.ID, FileName = (string)ViewData["defaultArt"], ID = 0, Source = "/media/" };

                @foreach (var image in Model.ArtImages)

                {
                    if (art.User != null)
                    {
                        var picture = new ArtImage { ArtID = art.ID, FileName = (string)ViewData["defaultArt"], ID = 0, Source = "/media/" };

                        @foreach (var image in Model.ArtImages)
                        {
                            @if (image.ArtID == art.ID)
                            {
                                picture = image;
                            }
                        }
                        <div class="col-md-4 col-lg-3 masonry-item mt-4 mb-4">
                            <a asp-controller="Home" asp-action="Art" asp-route-id="@art.ID">
                                <div class="image-container">
                                    <img src="@(@picture.Source + @picture.FileName)" alt="@art.Name" class="img-fluid border border-1 border-warning" onContextMenu="return false;">
                                    <div class="image-info">
                                        <table style="width:100%">
                                            <tr>
                                                @if (art.User.firstName != null && art.User.lastName != null)
                                                {
                                                    <td style="text-align:left">
                                                        @art.User.firstName @art.User.lastName
                                                    </td>
                                                }
                                                @if (art.Available == true)
                                                {
                                                    <td style="text-align:right">
                                                        &#36 @art.Price
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td style="text-align:right">
                                                        SOLD
                                                    </td>
                                                }
                                            </tr>
                                            <tr>
                                                <td style="text-align:left">
                                                    @if (art.Name != null)
                                                    {
                                                        @art.Name
                                                    }
                                                </td>
                                                @if (art.ArtMediumLinks != null)
                                                {
                                                    <td style="text-align:right">
                                                        @foreach (var medium in art.ArtMediumLinks)
                                                        {
                                                            @if (medium.ArtMedium != null)
                                                            {
                                                                @if (medium.ArtMedium.Name != null)
                                                                {
                                                                    <i>@medium.ArtMedium.Name</i>
                                                                }
                                                            }
                                                        }
                                                    </td>
                                                }
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>
@section scripts {
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script>
        var masonryGrid = document.querySelector('.masonry-grid');
        var masonry = new Masonry(masonryGrid, {
            itemSelector: '.masonry-item',
            columnWidth: '.col-md-4',
            percentPosition: true
        });
        imagesLoaded(masonryGrid).on('progress', function () {
            // layout Masonry after each image loads
            msnry.layout();
        });
    </script>

    <script type="text/javascript" src="jquery.lazy.min.js"></script>
    <script type="text/javascript" src="plugins/jquery.lazy.ajax.min.js"></script>
    <script type="text/javascript" src="plugins/jquery.lazy.av.min.js"></script>
    <script type="text/javascript" src="plugins/jquery.lazy.iframe.min.js"></script>
    <script type="text/javascript" src="plugins/jquery.lazy.noop.min.js"></script>
    <script type="text/javascript" src="plugins/jquery.lazy.picture.min.js"></script>
    <script type="text/javascript" src="plugins/jquery.lazy.script.min.js"></script>
    <script type="text/javascript" src="plugins/jquery.lazy.vimeo.min.js"></script>
    <script type="text/javascript" src="plugins/jquery.lazy.youtube.min.js"></script>

    <script>$('#main .img-responsive').lazy();</script>
}