@model ArtistsViewModel
@{
    ViewData["Title"] = "Artists";
}

<div class="text-center">
    <h1 class="display-4">Artists</h1>
    <p></p>
</div>

@if (Model.Users.Count() == 0)
{
    <div>There are no artist accounts.</div>
}
else
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4 ms-4 me-4">
        @foreach (User user in Model.Users)
        {
            @foreach (string roleName in user.RoleNames) // Find more efficient way to check if user is artist
            {
                @if (roleName == "Artist")
                {
                    bool imageDisplayed = false; // Flag to track if an image has been displayed for the current user
                    @if (user.firstName != null)
                    {
                        <div class="col mb-3">
                            <div class="d-flex flex-column align-items-center">
                                <a asp-controller="Home" asp-action="Artist" asp-route-id="@user.UserName">
                                    @foreach (var artistImage in Model.ArtistImages)
                                    {
                                        if (user.Id == artistImage.UserID && !imageDisplayed)
                                        {
                                            <img src="@(@artistImage.Source + @artistImage.FileName)" alt="Image" class="img-fluid border border-warning" style="max-height: 300px;" onContextMenu="return false;">
                                            imageDisplayed = true; // Set the flag to indicate that an image has been displayed
                                        }
                                    }
                                    @* Display a default image if no image has been displayed yet *@
                                    @if (!imageDisplayed)
                                    {
                                        <img src="~/media/TempImage.jpg" alt="Temp image" class="img-fluid border border-warning" style="max-height: 300px;"></img>
                                    }
                                </a>
                                <div class="text-center">
                                    <div class="fw-bold mt-1">@user.firstName @user.lastName</div>
                                    <div class="fst-italic">@user.artistMedium</div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col mb-3"><a asp-controller="Home" asp-action="Artist" asp-route-id="@user.UserName">@user.UserName</a></div>
                    }
                }
            }
        }
    </div>
}

