@model ArtistsViewModel
@{
    ViewData["Title"] = "Artists";
}

<div class="text-center">
    <h1 class="display-4">Artists</h1>
    <p></p>
</div>

@if (Model.Users.Count() == 0)
{
    <div>There are no artist accounts.</div>
}
else
{
    @foreach (User user in Model.Users)
    {
        @foreach (string roleName in user.RoleNames) // Find more efficient way to check if user is artist
        {
            @if (roleName == "Artist")
            {
                @if (user.firstName != null)
                {

                    
                    <div>

                        <a asp-controller="Home" asp-action="Artist" asp-route-id="@user.UserName">
                            <img src="" alt="Image" class="img-fluid border border-warning">
                        </a>
                        @user.firstName @user.lastName
                        <p>@user.artistMedium</p>
                    </div>
                }
                else
                {
                    <div><a asp-controller="Home" asp-action="Artist" asp-route-id="@user.UserName">@user.UserName</a></div>
                }
            }
        }        
    }
}

@*<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-5">
        <div class="col">
            <div class="d-flex align-items-center">
                <a asp-area="" asp-controller="Home" asp-action="ExampleArtist">
                    <img src="/media/duck.jpg" alt="" class="img-fluid border border-1 border-warning h-100">
                </a>
                <div>
                    <p class="fw-bold mt-1">Gaye Lee</p>
                    <p class="fst-italic">Drawing, Painting, Mixed Media & Prints</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="d-flex align-items-center">
                <a asp-area="" asp-controller="Home" asp-action="ExampleArtist2">
                    <img src="/media/dandelion.jpg" alt="" class="img-fluid border border-1 border-warning h-100">
                </a>
                <div>
                    <p class="fw-bold mt-1">Brenda Mikula</p>
                    <p class="fst-italic">Watercolor Artist</p>
                </div>
            </div>
        </div>
    </div>
</div>*@

