@model ArtistViewModel
@{
    ViewData["Title"] = "Artist";
}
@section styles {
    <link rel="stylesheet" href="~/css/Artistic_Style.css">
}

<h1 class="KAG_title text-warning">@Model.User.firstName @Model.User.lastName</h1>@*Link to dbo.AspNetUsers - User ID - User Name*@
<h4 class="text-center">@Model.User.artistMedium</h4>@*Link to dbo.AspNetUsers - User ID - artistmedium*@


<div class="container py-2 mt-5">
    <div class="row ms-auto">
        <div class="col-sm-5">
            <div class="card bg-transparent">
                <div class="card-body">
                    
                    @*<img src="/media/duck.jpg" alt="Image" class="img-fluid border border-warning">*@ @*UserID - Photo1*@

                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                           <div class="carousel-item active">
                                <img class="d-block w-100" src="/media/duck.jpg" alt="First slide">
                            </div>
                            @foreach (var artistImage in Model.ArtistImages)
                            {
                            <div class="carousel-item">
                                <img class="d-block w-100" src="@(@artistImage.Source + @artistImage.FileName)" alt="Slide">
                            </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="card bg-transparent">
                <div class="card-body">
                    <p>
                        @if (Model.User.bio != null)
                            {
                                @Html.Raw(Model.User.bio.Replace(Environment.NewLine, "<br/>"))
                            }
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card-body">
                <img src="/media/18192305_10154566768788181_5492323451090578123_o.jpg" alt="Image" class="img-fluid border border-warning"> @*UserID - Photo1*@
                @* HERE WE WILL CHECK IF THERE IS THE OPTIONAL PHOTO FOR DISPLAYING THE PERSON IN FRONT OF THE ART, AND IF NOT SHOW NOTHING,
                @if (Model.User. != null)
                {
                <img src="/media/duck.jpg" alt="Image" class="img-fluid border border-warning">
                *@
            </div>
        </div> 
        <div class="col-sm-5">
            <div class="card-body"> 
                <img src="/media/full body with drawing.jpg" alt="Image" class="img-fluid border border-warning"> @*UserID - Photo1*@
                @* HERE WE WILL CHECK IF THERE IS THE SECOND OPTIONAL PHOTO FOR DISPLAYING THE PERSON IN FRONT OF THE ART, AND IF NOT SHOW NOTHING,
                @if (Model.User. != null)
                {
                <img src="/media/duck.jpg" alt="Image" class="img-fluid border border-warning">
                *@
            </div>
        </div>
    </div>
</div>


<h2 class="text-center mt-3">@Model.User.quote</h2>@*UserID - User.quote*@

@*<div class="container">
    <div class="row mt-3">
        <div class="col-md-2">
            <img src="/media/uploads/Frost on a Dahlia.jpg" alt="Image" class="img-fluid border border-warning">
        </div>
        <div class="col-md-2">
            <img src="/media/uploads/Grandpas Lake.jpg" alt="Image" class="img-fluid border border-warning">
        </div>
        <div class="col-md-2">
            <img src="/media/uploads/Mackinac horses Peters.jpg" alt="Image" class="img-fluid border border-warning">
        </div>
        <div class="col-md-2">
            <img src="/media/uploads/Wedding Dress.jpg" alt="Image" class="img-fluid border border-warning">
        </div>
        <div class="col-md-2">
            <img src="/media/uploads/Wind Dancer.jpg" alt="Image" class="img-fluid border border-warning">
        </div>
    </div>
</div>*@

<div class="container">
    <div class="row masonry-grid">
        @foreach (var art in Model.Arts)
        {
            var picture = new ArtImage { ArtID = art.ID, FileName = "sample.jpg", ID = 0, Source = "/uploads/" };

            @foreach (var image in Model.ArtImages)
            {
                @if (image.ArtID == art.ID)
                {
                    picture = image;
                }
            }
            <div class="col-md-4 col-lg-3 masonry-item mt-4">
                <div class="image-container">
                    <a asp-area="Admin" asp-controller="Art" asp-action="Details" asp-route-id="@art.ID">
                        <img src="@(@picture.Source + @picture.FileName)" alt="@art.Name" class="img-fluid border border-1 border-warning">
                        <div class="image-info">
                            @art.Name <br>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script>
        var masonryGrid = document.querySelector('.masonry-grid');
        var masonry = new Masonry(masonryGrid, {
            itemSelector: '.masonry-item',
            columnWidth: '.col-md-4',
            percentPosition: true
        });
    </script>
}