@model IEnumerable<Kirtland_Artist_Guild.Models.Exhibition>

@{
    ViewData["Title"] = "Exhibitions";
}
<div class="container my-5">
    <div class="row">
        @foreach (var exhibition in Model)
        {
            <div class="col-md-12">
                @if (exhibition.Title != null)
                {
                    <h2>@exhibition.Title</h2>
                }
                @if (exhibition.EndDate == null || exhibition.StartDate == exhibition.EndDate)
                {
                    <h4>@exhibition.StartDate.ToShortDateString()</h4>
                    <hr />
                }
                @if (exhibition.EndDate != null && exhibition.StartDate != exhibition.EndDate)
                {
                    <h4>@exhibition.StartDate.ToShortDateString() - @exhibition.EndDate.Value.ToShortDateString()</h4>
                    <hr />
                }
                @if (exhibition.Source != null && exhibition.FileName != null)
                {
                    <div class="col-md-12">
                        <img src="@(@exhibition.Source + @exhibition.FileName)" class="img-fluid rounded border border-2 border-warning" oncontextmenu="return false;">
                    </div>
                    <hr />
                }
                @if (exhibition.Description != null)
                {
                    <p class="lead">
                        @Html.Raw(exhibition.Description.Replace(Environment.NewLine, "<br/>"))
                    </p>
                }
            </div>
            <hr />
        }
    </div>
</div>