@model Kirtland_Artist_Guild.Models.Art

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="UserID" />
            <input type="hidden" asp-for="Created" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="6" type="text"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Available" /> @Html.DisplayNameFor(model => model.Available)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <table class="table table-dark table-striped table-hover table-responsive-md">
            <thead>
                <tr>
                    <th>Colors</th>
                    <th class="text-end"><a class="btn btn-secondary btn-sm" asp-action="ArtColorLinkCreate" asp-route-artid="@Model.ID">Add</a></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var color in Model.ArtColorLinks)
            {
                <tr>
                    <td>@color.ArtColor.Name</td>
                    <td class="text-end"><a class="btn btn-danger btn-sm" asp-action="ArtColorLinkDelete" asp-route-artid="@color.ArtID" asp-route-artcolorid="@color.ArtColorID">Remove</a></td>
                </tr>
            }
            </tbody>
        </table>
        <table class="table table-dark table-striped table-hover table-responsive-md">
            <thead>
                <tr>
                    <th>Mediums</th>
                    <th class="text-end"><a class="btn btn-secondary btn-sm" asp-action="ArtMediumLinkCreate" asp-route-artid="@Model.ID">Add</a></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var medium in Model.ArtMediumLinks)
                {
                    <tr>
                        <td>@medium.ArtMedium.Name</td>
                        <td class="text-end"><a class="btn btn-danger btn-sm" asp-action="ArtMediumLinkDelete" asp-route-artid="@medium.ArtID" asp-route-artmediumid="@medium.ArtMediumID">Remove</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table table-dark table-striped table-hover table-responsive-md">
            <thead>
                <tr>
                    <th>Styles</th>
                    <th class="text-end"><a class="btn btn-secondary btn-sm" asp-action="ArtStyleLinkCreate" asp-route-artid="@Model.ID">Add</a></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var style in Model.ArtStyleLinks)
            {
                <tr>
                    <td>@style.ArtStyle.Name</td>
                        <td class="text-end"><a class="btn btn-danger btn-sm" asp-action="ArtStyleLinkDelete" asp-route-artid="@style.ArtID" asp-route-artstyleid="@style.ArtStyleID">Remove</a></td>
                </tr>
            }
            </tbody>
        </table>

        <table class="table table-dark table-striped table-hover table-responsive-md">
            <thead>
                <tr>
                    <th>Images</th>
                    <th class="text-end"><a class="btn btn-secondary btn-sm">Add</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var image in Model.ArtImages)
                {
                    <tr>
                        <td>@image.FileName</td>
                        <td class="text-end"><a class="btn btn-danger btn-sm">Remove</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}